/* new-addition-07-01-2015 */
/*.queue-bar-gray { background-color: #f4f4f4; border-left: 1px solid #95d3f0; cursor: pointer !important; height: 60px; margin-left: 80px; margin-bottom: 10px; width: 460px; }
.queue-bar-dblue { background-color: #1b9bd7; border-left: 1px solid #95d3f0; cursor: pointer !important; height: 60px; margin-left: 80px; margin-bottom: 10px; width: 460px; }
.queue-bar-white { background-color: #ffffff; cursor: pointer !important; height: 60px; margin-left: 80px; margin-bottom: 10px; width: 460px; }*/